aside {
  width: 25%;
  float: left;
}

main {
  width: 75%;
  float: right;
}

.jumbotron img {
  width: 75%;
}

#chosenBus p {
  margin: 0;
}

#mapArea {
  width: 800px;
  height: 800px;
  margin-left: 10px;
}